<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
</head>
<body style="background-color: azure; color: black;">
    <div style="padding-top: 50px; padding-left: 400px;">
    <img src="{% static 'login.png' %}" style="padding-left: 150px;">
    <h1>Student Signup</h1>
    <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
    <a href="{% url 'login' %}">Already have account?</a>
    </form>
    </div>
</body>
</html>